@using vassago.Models;
@model ProtocolTwitch

<a href="/">home</a>/

 <form action="@Url.Action("SubmitTwitch", "Protocol")" method="post" id="theForm">
    <input type="hidden" name="Id" value="@Model.Id" />
  <table class="table">
    <tbody>
    <tr class="form-text">
        <th><label for="username">Username</label></th>
        <td><input type="text" class="form-control" name="username" value="@Model.username"/></td>
    </tr>
    <tr class="form-text">
        <th><label for="oauth">Oauth</label></th>
        <td><input type="text" class="form-control" name="oauth" value="@Model.oauth"/></td>
    </tr>
        <tr class="form-text">
        <td colspan="2">
          <button class="btn btn-danger" type="button" onclick="deleteModal.show()">delete</button>
          <button class="btn btn-success" type="submit">save</button>
        </td>
    </tr>
    </tbody>
</table>
</form>
<dialog id="deleteModal">
    <form action="@Url.Action("DeleteTwitch", "Protocol")" method="post">
        <input type="hidden" name="Id" value="@Model.Id"/>
        are you suuuuuure?
        <button class="btn btn-secondary" type="button" onclick="deleteModal.close()">cancel</button>
        <button class="btn btn-danger" type="submit">delete</button>
    </form>
</dialog>
