@model vassago.WebInterface.Models.OverviewViewModel

@{
    ViewData["Title"] = "Home Page";
}
<table class="table">
    <tbody>
    <tr class="form-text"><td>
        <a href="@Url.Action("Index", "Configuration")">Misc overall config</a>
    </td></tr>
    <tr class="form-text"><td>
        <a href="@Url.Action("Index", "JokesWebadmin")">Jokes</a>
    </td></tr>
    <tr class="form-text">
        <td>
        <details open>
            <summary>Protocols</summary>
            <table class="table">
                <tbody>
                    @foreach(var proto in Model.Protocols)
                    {
                        <tr class="form-text"><td>
                            <a href="@Url.Action("Details", "Protocol", new {Id = proto.Id})">@proto.Protocol</a>
                        </td></tr>
                    }
                    <tr class="form-text"><td>
                        <button onclick="addProtocol.showModal()" type="button" class="btn btn-secondary">Add</button>
                    </td></tr>
                </tbody>
            </table>
        </details>
        </td>
    </tr>
    <tr class="form-text">
        <td>
        <details open>
            <summary>Users</summary>
            <table class="table">
                <tbody>
                    @if(Model.Users != null) foreach(var user in Model.Users.OrderBy(u => u.DisplayName))
                    {
                        <tr class="form-text"><td>
                            <a href="@Url.Action("Details", "Users", new {Id = user.Id})">@user.DisplayName</a>
                        </td></tr>
                    }
                    </tbody>
                </table>
            </details>
        </td>
    </tr>
    <tr class="form-text">
        <td>
        <details open>
            <summary>Accounts</summary>
            <table class="table">
                <tbody>
                    @if(Model.Accounts != null) foreach(var acc in Model.Accounts.OrderBy(a => a.SeenInChannel?.LineageSummary))
                    {
                        <tr class="form-text"><td>
                            @(acc.SeenInChannel?.LineageSummary) /
                            <a href="@Url.Action("Details", "Accounts", new {Id = acc.Id})">@acc.DisplayName</a>
                        </td></tr>
                    }
                    </tbody>
                </table>
            </details>
        </td>
    </tr>
    <tr class="form-text">
        <td>
        <details>
            <summary>Channels</summary>
            <table class="table">
                <tbody>
                    @if(Model.Channels != null) foreach(var ch in Model.Channels.OrderBy(c => c.LineageSummary))
                    {
                        <tr class="form-text"><td>
                            <a href="@Url.Action("Details", "Channels", new {Id = ch.Id})">@ch.LineageSummary</a>
                        </td></tr>
                    }
                    </tbody>
                </table>
            </details>
        </td>
    </tr>
    <tr class="form-text">
        <td>
        <details>
            <summary>UACs</summary>
            <table class="table">
                <tbody>
                    @if(Model.UACs != null) foreach(var uac in Model.UACs)
                    {
                        <tr class="form-text"><td>
                            <a href="@Url.Action("Details", "UACs", new {Id = uac.Id})">
                                @if(String.IsNullOrWhiteSpace(uac.DisplayName))
                                {
                                    @Html.Raw("nameless uac")
                                }
                                else
                                {
                                    @uac.DisplayName
                                }
                            </a>
                        </td></tr>
                    }
                    <tr class="form-text"><td>
                        <form action="@Url.Action("Create", "UACs")" method="post" id="addUAC"></form>
                        <button onclick="addUAC.submit()" type="button" class="btn btn-secondary">Add</button>
                    </td></tr>
                </tbody>
            </table>
        </details>
        </td>
    </tr>
    <tr class="form-text">
        <td>
        <details>
            <summary>Webhooks</summary>
            <table class="table">
                <tbody>
                    @if(Model.Webhooks != null) foreach(var wh in Model.Webhooks)
                    {
                        <tr class="form-text"><td>
                            <a href="@Url.Action("Details", "Webhooks", new {Id = wh.Id})">@wh.Trigger</a>
                        </td></tr>
                    }
                    <tr class="form-text">
                        <td>
                            <form action="@Url.Action("Create", "Webhooks")" method="post" id="addWebhook"></form>
                            <button onclick="addWebhook.submit()" type="button" class="btn btn-secondary">Add</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </details>
        </td>
    </tr>
    </tbody>
</table>
<dialog id="addProtocol">
    <details>
        <summary>Discord</summary>
        <form action="@Url.Action("AddDiscord", "Protocol")" method="post">
            token:
            <input type="text" class="form-control" name="token" required="true"/>
            <button type="submit" class="btn btn-success">add</button>
        </form>
    </details>
    <details>
        <summary>Twitch</summary>
        <form action="@Url.Action("AddTwitch", "Protocol")" method="post">
            <table class="table">
                <tbody>
                <tr>
                    <th><label for="username">Username</label></th>
                    <td><input type="text" class="form-control" name="username" required/></td>
                </tr>
                <tr>
                    <th><label for="oauth">oauth</label></th>
                    <td><input type="text" class="form-control" name="oauth" required/></td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-success">add</button>
        </form>
    </details>
    <button class="btn btn-secondary" type="button" onclick="addProtocol.close()">cancel</button>
</dialog>
