@model User
@using Newtonsoft.Json
@{
    ViewData["Title"] = "User details";
}

<a href="/">home</a>/Users/
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Display Name</th>
            <td colspan="2"><input type="text" id="displayName" value="@Model.DisplayName" disabled alt="todo"></input></td>
        </tr>
        <tr>
            <th scope="row">Id</th>
            <td colspan="2">@Model.Id</td>
        </tr>
        <tr>
            <th scope="row" rowspan="@((Model.Accounts?.Count ?? 0) + 1)">Accounts</th>
        </tr>
        @if(Model.Accounts != null) foreach(var acc in Model.Accounts.OrderBy(a => a.SeenInChannel?.LineageSummary))
        {
            <tr>
                <td>
                    @if(acc.SeenInChannel == null)
                    {
                        @Html.Raw("channelless/");
                    }
                    else
                    {
                        @Html.Raw(acc.SeenInChannel.LineageSummary + "/");

                    }
                    <a href="@Url.Action("Details", "Accounts", new {Id = acc.Id})">@acc.DisplayName</a>
                </td>
                <td>
                    <form action="@Url.Action("SeparateAccount", "Users")">
                        <input type="hidden" name="UserId" value="@Model.Id" />
                        <input type="hidden" name="AccountId" value="@acc.Id" />
                        <button type="submit" class="btn btn-danger">separate</button>
                    </form>
                </td>
            </tr>
        }
        <tr>
            <th scope="row" rowspan="@((Model.UACs?.Count ?? 0) + 2)">UACs</th>
        </tr>
        @if(Model.UACs != null) foreach(var uac in Model.UACs.OrderBy(a => a.DisplayName))
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "UACs", new {Id = uac.Id})">@uac.DisplayName</a>
                </td>
                <td>
                    <form action="@Url.Action("UnlinkUAC", "Users")">
                        <input type="hidden" name="UserId" value="@Model.Id" />
                        <input type="hidden" name="UACid" value="@uac.Id" />
                        <button type="submit" class="btn btn-danger">Unlink</button>
                    </form>
                </td>
            </tr>
        }
        <tr>
            <td>
            <button type="button" class="btn btn-success" onclick="newUAC.submit()">new</button>
            </td>
        </tr>
    </tbody>
</table>
<form action="@Url.Action("newUAC", "Accounts")" method="post" id="newUAC">
    <input type="hidden" name="Id" value="@Model.Id">
</form>
